<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vip.uyux">

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.myprovider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths"/>

        </provider>
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5a682ad0f43e484fb5000055" />
        <!-- 支付宝h5 -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <!-- 支付宝h5 -->
        <!-- wechat callback -->
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppThemeNoTranslucent" />
        <activity
            android:name=".activity.DengLuActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.WangJiMMActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.ZhuCeActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.HuanYingActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.YinDaoActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.WoDeYuEActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.ChanPinXQActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.CePingXQActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.FenXiangZXActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.GeRenXXActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.GuanLiYHKActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.XinZengYHKActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.DiZhiGLActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.ChanPinFenHongActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.FenHongZXActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.SouSuoActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.QueRenDDActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.XuanZeSHDZActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.XinZengDZActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.YouHuiQuanActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.LiJiZFActivity"
            android:launchMode="singleTop" />
        <activity android:name=".activity.ChanPinLBActivity" />
        <activity android:name=".activity.WoDeCPActivity" />
        <activity android:name=".activity.ZuJiActivity"></activity>
    </application>

</manifest>