<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vip.uyux">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!-- 阿里移动推送相关权限 -->
    <!-- Android 6.0版本可去除，用于选举信息（通道复用）的同步 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 进行网络访问和网络状态监控相关的权限声明 -->
    <!-- 允许对sd卡进行读写操作 -->
    <!-- 网络库使用，当网络操作时需要确保事务完成不被杀掉 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 用于读取手机硬件信息等，用于机型过滤 -->
    <!-- 选举使用，当应用有删除或者更新时需要重新选举，复用推送通道 -->
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_CHANGED" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_REPLACED" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <!-- 补偿通道小米PUSH使用，不用可去除 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- 补偿通道GCM使用，不使用可去除 -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- 允许监听启动完成事件 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- 允许访问震动器 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 允许task重排序 -->
    <uses-permission android:name="android.permission.REORDER_TASKS" />

    <!-- 用于进行网络定位 -->
    <!-- 用于访问GPS定位 -->
    <!-- 用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于写入缓存数据到扩展存储卡 -->
    <!-- 用于申请调用A-GPS模块 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!-- 用于申请获取蓝牙信息进行室内定位 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 添加可以向外拨打电话的权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.myprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5a682ad0f43e484fb5000055" />
        <!--正式推送 -->
        <meta-data
        android:name="com.alibaba.app.appkey"
        android:value="24772026" /> <!-- 请填写你自己的- appKey -->
        <meta-data
        android:name="com.alibaba.app.appsecret"
        android:value="218f4fc4e9361da567d66547eabc9923" /> <!-- 请填写你自己的appSecret -->
        <!--测试推送 -->
        <!--<meta-data-->
            <!--android:name="com.alibaba.app.appkey"-->
            <!--android:value="24794089" /> &lt;!&ndash; 请填写你自己的- appKey &ndash;&gt;-->
        <!--<meta-data-->
            <!--android:name="com.alibaba.app.appsecret"-->
            <!--android:value="2a074a67c87f9e76b46d8b9df164b472" /> &lt;!&ndash; 请填写你自己的appSecret &ndash;&gt;-->


        <!-- 消息接收监听器 （用户可自主扩展） -->
        <receiver
            android:name=".reciver.MyReciver"
            android:exported="false"> <!-- 为保证receiver安全，建议设置不可导出，如需对其他应用开放可通过android：permission进行限制 -->
            <intent-filter>
                <action android:name="com.alibaba.push2.action.NOTIFICATION_OPENED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.alibaba.push2.action.NOTIFICATION_REMOVED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.alibaba.sdk.android.push.RECEIVE" />
            </intent-filter>
        </receiver>

        <!-- 支付宝h5 -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <!-- 支付宝h5 -->
        <!-- wechat callback -->
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppThemeNoTranslucent" />
        <activity
            android:name=".activity.DengLuActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.WangJiMMActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.ZhuCeActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.HuanYingActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.YinDaoActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.BuKeTiXianActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.ChanPinXQActivity"
            android:hardwareAccelerated="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.ChanPinJFXQActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.CePingXQActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.FenXiangZXActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.FenXiaoDDActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.GeRenXXActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.GuanLiYHKActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.XinZengYHKActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.DiZhiGLActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.ChanPinFenHongActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.FenHongZXActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.SouSuoActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.QueRenDDActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.XuanZeSHDZActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.XinZengDZActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.YouHuiQuanActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.LiJiZFActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.ChanPinLBActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.WoDeCPActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.ZuJiActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.WoDeSCActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.WoDeKeHuActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.WoDeTDActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.WoDeJFActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.UbiSCActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.WoDeDDActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.DuiHuanJLActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.SheZhiActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.WebActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.XiuGaiMMActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.ChangJianWenTiActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.YiJianFKActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.TiXianActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.TiXianJLActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.YuEActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.YuJiYJActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.XiaoXiZXActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.WuLiuZhuShouActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.BangDingTelActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.DingDanXqActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.GouWuCheActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.PingJiaGLActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.PingJiaActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.PingLunLBActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.ShouHouFWActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.ShenQingSHActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.ShenQingSHJLActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.QueRenDDJFActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.FuWuDanXQActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.ZhiTuiFenHongActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.ChanPinLBTabActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.TuiJianSPActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.TuiJianSPCZActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.ShenQingJinDuActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.LiJiCePingActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.WoDeSCCZActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.GuanFangTJActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.ShiMingRZActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.ChanPinXQCZActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.ReciverActivity"
            android:launchMode="singleTop"
            android:theme="@style/Theme.Transparent" />
    </application>

</manifest>